<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.brankomikusic.conversation_salons_app_v2_1">

    <uses-permission android:name="android.permission.INTERNET" />
    <!--  android:fullBackupContent="@xml/my_backup_rules" -->
    <application
        android:allowBackup="true"

        android:icon="@mipmap/ic_consal5"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ConversationSalonsApp.NoActionBar"
        android:usesCleartextTraffic="true"
        android:largeHeap="true"
        >
        <activity android:name="com.brankomikusic.conversation_salons_app_v2_1.EnterNewInvitationActivity"/>
        <activity android:name="com.brankomikusic.conversation_salons_app_v2_1.CreateNewAnnouncementActivity"/>
        <activity android:name="com.brankomikusic.conversation_salons_app_v2_1.EnterNewConversationActivity"/>
        <activity android:name="com.brankomikusic.conversation_salons_app_v2_1.EnterNewRecommendationActivity" />
        <activity android:name="com.brankomikusic.conversation_salons_app_v2_1.EnterNewPostActivity" />
        <activity
            android:name="com.brankomikusic.conversation_salons_app_v2_1.ConversationDetailActivity"
            android:label="" />
        <activity
            android:name="com.brankomikusic.conversation_salons_app_v2_1.ArticleDetailActivity"
            android:label="" />
        <activity
            android:name="com.brankomikusic.conversation_salons_app_v2_1.MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.brankomikusic.conversation_salons_app_v2_1.FirebaseUILoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.brankomikusic.conversation_salons_app_v2_1.UserSettingsActivity"
            android:label="@string/app_name" /> <!-- [START firebase_service] -->
        <service
            android:name="com.brankomikusic.conversation_salons_app_v2_1.ConsalFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>